# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other files
.idea
cmake-build-debug
cmake-build-release
/Libs/restc-cpp/
Target/gameheap
Target/testing.txt
Target/modified_user_games.txt
Target/games.txt
